#Header {
  font-family: inherit;
  font-weight: bold;
  line-height: 1.2;
  font-size: calc(1.275rem+0.3vw);
}

#TodoList {
  padding: 5vh;
}
#TextBox {
  font-family: inherit;
  margin-right: 10px;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border-color: #cdcdcd;
}
#AddTodo {
  font-family: inherit;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  border: transparent;
  background-color: #3b71ca;
  box-shadow: 0 4px 9px -4px #3b71ca;
  color: white;
  text-transform: uppercase;
}
